@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

/*! base css start  */

* {
  margin: 0;
}

/*! base css start  */

body {
  font-family: "Electrolize", sans-serif;
  background-color: #000;
}

.container {
  background-color: black;
  color: white;
}
/*!  navbar start  */

.navbar {
  background-color: #000;
  height: 60px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 50px;
}

.logo {
  color: rgba(255, 70, 70);
  font-size: 30px;
}

.menu-list {
  display: flex;
  list-style: none;
  column-gap: 30px;
  padding: 0;
}

.menu-list-item {
  cursor: pointer;
}

.menu-list-item:hover {
  font-weight: bold;
}

.menu-list-item:active {
  font-weight: bold;
}

.profile-container {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.profile-picture {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-text-container {
  display: flex;
  align-items: center;
  column-gap: 5px;
  line-height: 1;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: white;
  position: relative;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.toggle-icon {
  color: goldenrod;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 1px;
  transition: 0.5s ease-in all;
}
/*! navbar end */

/*! sidebar start */
.sidebar {
  background-color: black;
  color: white;
  height: 100%;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  row-gap: 40px;
  position: fixed;
  top: 0;
}

.sidebar i {
  font-size: 20px;
  cursor: pointer;
}

/*! sidebar end */

/*! featured start*/
.content-wrapper {
  margin-left: 50px;
}


.featured-title {
  width: 400px;
}

.featured-desc {
  width: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin: 30px 0;
  color: rgb(255, 255, 255);
}

.featured-buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.featured-buttons button {
  padding: 10px 25px;
  border-radius: 2px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  column-gap: 10px;
  font-size: 16px;
  font-weight: bold;
}

.featured-buttons .info-button {
  background-color: rgba(145, 142, 142, 0.5);
  color: white;
}

/*! featured end*/

/*! filter start*/
.movie-list-filter {
  margin: 20px 0 20px 50px;
  padding: 20px;
}

.movie-list-filter select {
  background-color: white;
  color: white;
  padding: 7px 0;
  width: 125px;
}

/*! filter end*/

/*! movie list start*/
.movie-list-container {
  margin-left: 70px;
  background-color: #000;
}

.movie-item {
  position: relative;
}

.movie-item:hover .movie-item-title,
.movie-item:hover .movie-item-buttons {
  opacity: 1;
}

.movie-list {
  list-style: none;
  padding: 0;
  height: 300px;
  display: flex;
  align-items: center;
  column-gap: 30px;
  transform: translateX(0);
  transition: 1s all ease-in-out;
}

.movie-list-wrapper {
  overflow: hidden;
  position: relative;
}

.movie-item:hover .movie-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}

.movie-item-img {
  width: 270px;
  height: 200px;
  object-fit: cover;
  transition: 1s ease all;
}

.movie-item-title {
  background-color: rgba(170, 167, 167, 0.4);
  padding: 0 10px;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-item-buttons {
  background-color: rgba(170, 167, 167, 0.4);
  padding: 10px;
  font-weight: bold;
  position: absolute;
  bottom: 10%;
  left: 50px;
  display: flex;
  column-gap: 20px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-item-buttons i {
  cursor: pointer;
  opacity: 0.5;
  font-size: 20px;
  transition: 0.5s all ease;
}

.movie-item-buttons i:hover {
  opacity: 1;
}

.arrow {
  width: 100px;
  display: flex;
  font-size: 120px;
  position: absolute;
  right: 0;
  top: 100px;
  opacity: 0.5;
  transition: 0.5s ease;
  cursor: pointer;
}

.arrow:hover {
  opacity: 1;
}

/*! movie list end*/

/*! dark mode start*/
.container.active {
  background-color: white;
}

.navbar.active {
  background-color: white;
  color: white;
}

.sidebar.active {
  background-color: white;
  color: white;
}

.movie-list-title.active {
  color: #ffffff;
}

.sidebar i.active {
  color: #ffffff;
}

.toggle.active {
  background-color: #ffffff;
}

.toggle-ball.active {
  background-color: white;
  transform: translateX(-20px);
}

.movie-list-filter select {
  background-color: white;
  color: #faf8f8;
}
/*! dark mode end*/

/*responsive start*/
@media only screen and (max-width: 800px) {
  .menu-container {
    display: none;
  }

  .featured-content {
    height: 50vh;
  }

  .featured-desc{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp:5;
    -webkit-box-arient:vertical;
    max-width: 200px;
    padding: 0;
  }

  .featured-title {
    width: 200px;
  }
}
/*responsive end*/
h1{
  color: rgb(255, 255, 255);
}
a:link {
  color: white;    
  text-decoration: none;
}
a:visited {
  color: white;   
  text-decoration: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
section
{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #000200;
  display: flex;
  justify-content: center;
  align-items: center;
}
section h2{
  color: transparent;
  font-weight: 900;
  font-size: 14em;
  -webkit-text-stroke: 2px #fff;
  text-transform: uppercase; 

}
section .star
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  animation: animate 8s ease-in-out infinite,
  backgroundmove 16s linear infinite;
  
}
section .star.star1{
  animation-delay: 0s;
  background: url(resimler/star1.png);
}
section .star.star2{
  animation-delay: -1s;
  background: url(resimler/star2.png);
}
section .star.star3{
  animation-delay: -2s;
  background: url(resimler/star3.png);
}
section .star.star4{
  animation-delay: -3s;
  background: url(resimler/star4.png);
}
section .star.star5{
  animation-delay: -4s;
  background: url(resimler/star5.png);
}
section .star.star6{
  animation-delay: -5s;
  background: url(resimler/star6.png);
}
section .star.star7{
  animation-delay: -6s;
  background: url(resimler/star7.png);
}
section .star.star8{
  animation-delay: -7s;
  background: url(resimler/star8.png);
}
@keyframes animate {
  0%,20%,40%,60%,80%,100%
  {
    opacity: 0;
  }
  10%,30%,50%,70%,90%
  {
    opacity: 1;
  }
}
@keyframes backgroundmove
{
  0%
  {
    transform: scale(1);

  }
  100%
  {
    transform: scale(2);
  }
}